#contact {
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-attachment: fixed;
    @include background-cover;
}

.contact-content {
  background-color: #ffffff;
  border: 0;
  opacity: 0.7;
    border-radius: 10px;
}