// Global styling for this template
body,
html {
    width: 100%;
    height: 100%;
}

body {
    @include serif-font;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

a {
    color: $primary;
    @include transition-all;
    &:hover {
        color: darken($primary, .1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-dark {
    background-color: $gray-900 !important;
}

.text-faded {
    color: fade-out($white, .3);
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $gray-900;
}

@font-face {
    font-family: "lemonmilk";
    src: url("/fonts/lemonmilk.woff") format("woff"),
    url("/fonts/lemonmilk.otf") format("opentype");
}

.lemonmilk {
    font-family: 'lemonmilk';
}

//back to top button
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    border: 3px;
    /* Remove borders */
    outline: 3px;
    /* Remove outline */
    background-color: transparent;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 1%;
    /* Some padding */
    /* Rounded corners */
    border: none;
    z-index: 9999;
    /* Keep on top of everything */
}

#myBtn:hover {
    background-color: transparent;
    color: #bf1e2e;
    /* Add a dark-grey background on hover */
}
