// Styling for the services section

#shleam {
  color:white;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  /* ...and now for the proper property */
  transition:.7s;
}
#shleam:hover { color:$primary; }
#cores{
    background-color: #bf1e2e;

}
.cores-box {
    padding-top: 30%;

  @include background-cover;
  max-width: 400px;
    min-height: 300px;
    text-shadow: 5px;
    border-radius: 35%;
    color: white;
}

.text-muted {
    color: yellow;
}
