// Styling for the services section
#services{
    background-color: #fdb514;
    
}
.service-box {
    padding-top: 30%;
    
  @include background-cover;
  max-width: 400px;
    min-height: 300px;
    text-shadow: 5px;
    border-radius: 35%;
    color: white;
}

.text-muted {
    color: red;
}