.info{
    font-family: 'Source Sans Pro', sans-serif; font-size: 100%; line-height: 32px; margin: 0 0 24px; text-indent: 4%;
}

bigg{
    font-size: 150%;
    color: #d8d8d8;
}
smol{
    font-size: 90%;
}
